.content-page-container{
    display: flex;
    align-items: center;
}

.content-main-container {
    flex:1;
    justify-content: center;
    align-items: center;
    margin-right: 6em;
    margin-left: 2em;
}

.content-header{
    margin-top: 2em;
    margin-bottom: 2em;
}

.content-body {
}

.image-container{
    flex: 1;
}

img.content-image{
    align-self: start;  
    float: right;
    display: block;
    padding: 1em;
    background-color: aliceblue;
    border-radius: 2em;
    margin-right: 3em;
    margin-top: 3em;
    margin-left: 1em;
    width: 90%;
    min-height: 40vh;
}