.search-instructions, .word-list, .word-card {
    padding: 1em;
}

.search {
    font-size: 1em;
    padding: 0.4em;
    text-align: center;
    float: none;
    margin-left: 6rem;
    border: none;
    width: 50%;
    border-radius: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    background-color: white;
    background: linear-gradient(to left top, rgba(255,255,255, 0.2), rgba(255,255,255, 0.9));
}

.word-page-content {
    display: flex;
    width: 100%;

}

.word-page-list{
    flex: 1; 
}

.word-list{
    list-style-type: none;
    text-align: center;
    overflow-y: scroll;
    flex: 1;
    max-height: 60vh;
    direction: rtl;
}

.word-list::-webkit-scrollbar {
    background-color: #33333300;
}

.word-list::-webkit-scrollbar-thumb{
    background-color: #73dcdc;
    border-radius: 2em;
}

.word-page-header {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 3em;
    flex: 1;
    color: #426696;
    font-weight: 600;
    font-size: 2rem;
    opacity: 0.8;
}   

.word-card{
    margin: 2em 3em 2em 3em;
    padding: 2em;
    background-color: white;
    background: linear-gradient(to left top, rgba(255,255,255, 0.2), rgba(255,255,255, 0.9));
    display: flex;
    flex: 2;
    border-radius: 2rem;
    flex-direction: column;
    backdrop-filter: blur(2rem);
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.word-card-content p {
    padding: 1em;
    font-size: 1em;
}

.word-card-content {
    display: flex;
    flex-direction: row;
}

.word-card-header {
    text-transform: capitalize;
    padding: 0.5em;
    margin: 0.5em; 
    flex-direction: row;
}

.card-col-1 {
    flex: 1;
}

.card-col-2 {
    flex: 1;
}

.word-main-content {
    flex: 2;
    margin: 2em;
}

